<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single-Template</title>
</head>
<body>
        <h1>Single-Page Ttemplate</h1>    
        <hr/>

       <br>

<h1>{{ .Title }}</h1>    
<hr/>
<p>{{ .Content }}</p>   

</body>
</html>